src/customer-details.pug
<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Customer
	body.customer-details-page
		.wrap
			main
				include mixins/header.pug
				+header

				.content
					.container
						.page-title 
							h1 Eugene Danilov
							span Keep 6 Bags

						form.manage-count
							.manage-count-wrap
								.form-item.form-item_type_count
									button.bitton.button-count.button-count-down.icon-minus(type="button")
									input(type="text" name="count" value="0")
									button.bitton.button-count.button-count-up.icon-plus(type="button")
								.manage-count__description Bags
							button.button 
								span Add
								span.sub to Eugene Danilov

dist/customer-details.html
<!DOCTYPE html><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Customer</title>
  <link href="main.css" rel="stylesheet"></head>
  <body class="customer-details-page">
    <div class="wrap">
      <main>
                <header class="header">
                  <div class="container">
                    <div class="header-wrap">
                      <button class="button header__history-back icon-chevron-left"></button><span class="spacer"></span>
                      <button class="button header__menu-toggler button-icon icon-menu"></button>
                    </div>
                    <div class="header-menu">
                      <div class="header-menu-wrap">
                        <button class="button header-menu__close button-icon icon-close"></button>
                        <nav class="header-menu__nav">
                          <ul>
                            <li><a href="javascript:void(0);">Home</a></li>
                            <li><a href="javascript:void(0);">Transaction</a></li>
                            <li><a href="javascript:void(0);">Sign Out</a></li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </header>
        <div class="content">
          <div class="container">
            <div class="page-title"> 
              <h1>Eugene Danilov</h1><span>Keep 6 Bags</span>
            </div>
            <form class="manage-count">
              <div class="manage-count-wrap">
                <div class="form-item form-item_type_count">
                  <button class="bitton button-count button-count-down icon-minus" type="button"></button>
                  <input type="text" name="count" value="0">
                  <button class="bitton button-count button-count-up icon-plus" type="button"></button>
                </div>
                <div class="manage-count__description">Bags</div>
              </div>
              <button class="button"> <span>Add</span><span class="sub">to Eugene Danilov</span></button>
            </form>
          </div>
        </div>
      </main>
    </div>
  <script type="text/javascript" src="bundle.js"></script></body>
</html>
