src/find-customer-empty.pug
<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Find customers empty
	body.find-customers-page
		.wrap
			main
				include mixins/header.pug
				+header

				.content
					.container
						.page-title 
							h1 Find Customer
							span Start Typing Customer Name
						
						form
							.form-item
								input(type="search" name="search" placeholder="Search by Customer Name")
						
						.customers.customers_empty

dist/find-customer-empty.html
<!DOCTYPE html><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find customers empty</title>
  <link href="main.css" rel="stylesheet"></head>
  <body class="find-customers-page">
    <div class="wrap">
      <main>
                <header class="header">
                  <div class="container">
                    <div class="header-wrap">
                      <button class="button header__history-back icon-chevron-left"></button><span class="spacer"></span>
                      <button class="button header__menu-toggler button-icon icon-menu"></button>
                    </div>
                    <div class="header-menu">
                      <div class="header-menu-wrap">
                        <button class="button header-menu__close button-icon icon-close"></button>
                        <nav class="header-menu__nav">
                          <ul>
                            <li><a href="javascript:void(0);">Home</a></li>
                            <li><a href="javascript:void(0);">Transaction</a></li>
                            <li><a href="javascript:void(0);">Sign Out</a></li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </header>
        <div class="content">
          <div class="container">
            <div class="page-title"> 
              <h1>Find Customer</h1><span>Start Typing Customer Name</span>
            </div>
            <form>
              <div class="form-item">
                <input type="search" name="search" placeholder="Search by Customer Name">
              </div>
            </form>
            <div class="customers customers_empty"></div>
          </div>
        </div>
      </main>
    </div>
  <script type="text/javascript" src="bundle.js"></script></body>
</html>
