dist/index.html
<!DOCTYPE html><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
  <link href="main.css" rel="stylesheet"></head>
  <body class="login-page">
    <div class="wrap">
      <main>
                <header class="header">
                  <div class="container">
                    <div class="header-wrap"><span class="spacer"></span>
                      <button class="button header__menu-toggler button-icon icon-menu"></button>
                    </div>
                    <div class="header-menu">
                      <div class="header-menu-wrap">
                        <button class="button header-menu__close button-icon icon-close"></button>
                        <nav class="header-menu__nav">
                          <ul>
                            <li><a href="javascript:void(0);">Home</a></li>
                            <li><a href="javascript:void(0);">Transaction</a></li>
                            <li><a href="javascript:void(0);">Sign Out</a></li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </header>
        <div class="content">
          <div class="container">
            <h1 class="page-title">Login</h1>
            <form class="form-login">
              <div class="form-wrap">
                <div class="form-item">
                  <input type="tel" name="tel" placeholder="+1(305) 555-5555">
                </div>
                <div class="form-item">
                  <input type="password" name="password" placeholder="Password">
                </div>
                <button class="button form__button-submit" type="submit">Sign In</button>
              </div>
            </form>
          </div>
        </div>
      </main>
    </div>
<div class="notification-containter"></div>
  <script type="text/javascript" src="bundle.js"></script></body>
</html>

src/index.pug
<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Login
	body.login-page
		.wrap
			main
				include mixins/header.pug
				+header(false)

				.content
					.container
						h1.page-title Login

						form.form-login
							.form-wrap
								.form-item
									input(type="tel" name="tel" placeholder="+1(305) 555-5555")
								.form-item
									input(type="password" name="password" placeholder="Password")
								button.button.form__button-submit(type="submit") Sign In

		include includes/notification.pug
